@import "./reset.css";

/* general*/
*, *::after, *::before{
    box-sizing: border-box;
}

.none {
    display: none;
}

html {
    box-sizing: border-box;
    width: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1220px;
    margin: 0px auto;
    padding: 0px 10px;
}
.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

a {
    color: inherit;
}

.ooo {
    padding-top: 100px;
}

/* header */
header{
    
    z-index: 10;
    background-color: #151515;
}

.header-main {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.menu__btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    

    padding: 0;
    background-color: transparent;
}
.menu__btn span {
    width: 100%;
    height: 2px;

    background-color: #fff;
}

.menu__list {
    display: flex;
    gap: 35px;
}

.menu__list-link {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.menu__list-link--active {
    color: #0066FF; 
}

/* main */
.main {
    flex-grow: 1;
    
}

.top {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 5;
    padding-top: 240px;
    padding-bottom: 50px;
    color: #fff;
    text-align: center;
}

.title {
    padding-bottom: 40px;
    color: #fff;
    font-weight: 700;
    font-size: 80px;
}

.top__link {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin-top: 5%;
    padding: 23px;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    background-color: #151515;
}

/* main-slide */
.swiper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    background: rgba(21, 21, 21, 0.3);
}

.swiper-slide {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.swiper-pagination-bullet {
    width: 120px;
    height: 3px;
    border-radius: 0;
    opacity: 1;
    background-color: #151515;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-bottom: 50px;
}

.swiper-pagination-bullet-active {
    height: 6px;
    background-color: #fff;
}


/* main card*/
.why-lease {
    padding: 150px 0;
}

.why-lease__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.why-lease__item-img {
    margin-bottom: 30px;
}

.why-lease__item-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
}

/*  main section */

.how-does {
    padding-bottom: 150px;
}

.how-does__inner {
    max-width: 600px;
    margin: 0 auto;
}

.how__does-title {
    padding-top: 50px;
    font-weight: 700;
    font-size: 24px;
}

.how__does-list {
    padding: 50px 0 70px;
    counter-reset: myCounter;
}

.how__does-item {
    
    position: relative;
    box-sizing: content-box;
    
    width: 270px;
    min-height: 63px;
    margin-left: auto;

    padding: 19px 0 19px 240px;
    list-style-type: none; /* убрали дефолтную номерацию */
}

.how__does-item::before { /* создали новую номерацию */
    content: counter(myCounter);

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;

    font-size: 48px;

    background-color: #0066FF;
    counter-increment: myCounter;
}

.how__does-item + .how__does-item {
    margin-top: 40px;
}

/* video */
.video {
    padding-bottom: 150px;
}

.video__title {
    margin-bottom: 20px;
}

.video__text {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.video__content {
    display: block;
    margin: 0 auto;
}

/* impotant */

.important {
   padding-bottom: 150px;
}

.important___title {
    margin-bottom: 20px;
}

.important__text {
    max-width: 580px;
    margin: 0 auto 50px;
}

.important__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.important__item-img {
    margin-bottom: 20px;
}

/* footer */
.footer {
    padding: 50px 0px 32px;
    color: #fff;
    background-color: #151515;
}

.footer__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list {
    max-width: 250px;
}

.footer__menu-title {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

.footer__menu-item + .footer__menu-item  {
    padding-top: 20px;
}

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.footer__copy {
    max-width: 806px;
    margin: 0 auto 30px;
    text-align: center;
}

.footer__copy-text {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}


/* NEW Contacts*/

.contacts{
    padding-bottom: 200px;
}

.contacts-title {
    margin-bottom: 20px;
}

.contacts__text {
    margin-bottom: 50px;

    padding: 0 100px;

    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 580px;
    margin: 0 auto;
}

.form__input {
    display: inline-block;

    width: 270px;
    margin-bottom: 50px;
    border: 1px solid #0066FF;
    padding: 18px 20px;

    color: #151515;
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}

.form__input::placeholder, .form__textarea::placeholder {
    opacity: 0.5;
    color: #151515;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}

.form__textarea {
    
    width: 100%;
    height: 290px;
    margin-bottom: 50px;
    border: 1px solid #0066FF;
    padding: 28px 20px;

    color: #000;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    resize: none;
}

.form__btn {

    margin: 0 auto;
    padding: 13px 61px;
    color: #fff;
    

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;

    background-color: #151515;
}

.blod {
    padding-bottom: 150px;
}

.blog__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 70px;
}

.blog__item {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.blog__item-img {
    width: 100%;
    margin-bottom: 30px;
}

.blod__item-title {
    flex-basis: 446px;
    font-weight: 700;
    font-size: 24px;
}

.blod__item-link {
    padding: 4px 20px;
    color: #fff;
    background-color: #0066FF;
}

.showmore-link {
    display: block;

    width: 225px;
    margin: 70px auto 0;
    padding: 13px;
    color: #fff;
    text-align: center;

    text-transform: uppercase;

    background-color: #151515;
}

/* card */
.Choose {
    padding-bottom: 150px;
}

.tabs__btn {
    display: flex;
    justify-content: space-between;
    gap: 80px;

    padding: 0 75px 100px;
}

.tabs__btn-item {
    font-weight: 700;
    font-size: 24px;
    background-color: transparent;
    cursor: pointer;

}
.tabs__btn-item--active {
    color: #0066FF; 
}

.tabs__content-item {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}

.tabs__content-item.tabs__content-item--active {
display: grid;
}

.card {
    display: block;
    text-align: center;
}

.card__img {
    width: 100%;
}

.card__content {
    border: 1px solid  #0066FF;
    border-top: 0;
    padding: 0 5px;
}
.card__title {

    margin-bottom: 20px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 24px;
}

.card__text {
    margin-bottom: 20px;
}

.card__price {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

.card__link {
    display: block;

    border: 1px solid  #0066FF;
    border-top: 0;
}




/* media */

@media (max-width: 1180px) {
    .important__list {
        gap: 30px 20px;
    }

    .important__item-img {
        width: 100%;
    }

    .tabs__content-item {
        grid-template-columns: repeat(3, 1fr);
    }

    .tabs__btn {
        gap: 20px;
        padding: 0 0 50px;
    }


}

@media (max-width: 1040px) {
    .video__content {
        width: 100%;
    }
}

@media (max-width: 860px) {
    .menu__btn {
        display: flex;
    }

    .menu__btn, .logo {
        position: relative;
        z-index: 11;
    }

    .menu__list {
        position: absolute;
       
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding-top: 200px;

        background-color: #151515;
        transition: transform .3s ease;
        transform: translateY(-100%);
    }

    .menu__list.menu__list--active {
        transform: translateY(0%);
    }

    .why-lease__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .important__list {
        grid-template-columns: repeat(2, 1fr);
    
    }

    .tabs__content-item {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 770px) {
    .title {
        font-size: 70px;
    }

    .top__link {
        max-width: 360px;
        padding: 16px;
        font-size: 28px;
    }

    .swiper-pagination-bullet {
        width: 60px;
    }

    .swiper-pagination-bullet-active {
        height: 4px;
    }

    .video__content {
        height: 400px;
    }

    .footer__menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        text-align: center;
    }
}

@media (max-width: 660px) {

    .tabs__content-item {
        grid-template-columns: repeat(1, 1fr);
    }

    .tabs__btn-item {
        font-size: 18px;
    }

    .blog__items {
        grid-template-columns: repeat(1, 1fr);
    }

    .form__input {
        width: 100%;
        margin-bottom: 30px;
    }
    .contacts__text {
        padding: 0;
    }
}

@media (max-width: 550px) {
    .title {
        font-size: 60px;
    }

    .top__link {
        max-width: 310px;
        font-size: 24px;
    }

    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 10px;
    }

    .swiper-pagination-bullets {
        width: 35px;
    }

    .why-lease__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .why-lease {
        padding: 50px 0;
    }

    .section-title {
        font-size: 34px;
    }

    .how__does-item::before {
        right: 0;

        width: 50px;
        height: 50px;
        margin: 0 auto;
        font-size: 32px;
    }

    .how__does-item {
        margin-right: auto;
        padding: 65px 0 19px 0;
    }

    .how__does-list {
        padding: 30px 0 40px;
    }

    .how-does {
        padding-bottom: 50px;
    }

    .video__content {
        height: 200px;
    }

    .video {
        padding-bottom: 50px;
    }

    /* .important__list {
        grid-template-columns: repeat(1, 1fr);
    } */
   
    .app, 
    .copy__nav-list {
        flex-direction: column;
        align-items: center;
    }

    .copy__nav-list {
        gap: 20px;
    }
   
    .blod__item-title {
        margin-bottom: 10px;
    }

   .tabs__btn {
    flex-direction: column;
   }

   .ooo {
    padding: 50px 0;
   }
   .tabs__content-item {
    gap: 40px;
   }
   .blod {
    padding-bottom: 50px;
   }
   .important {
    padding-bottom: 80px;
   }
}